rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /couples/{coupleId}/{allPaths=**} {
      allow read: if request.auth != null &&
        request.auth.uid in firestore.get(/databases/(default)/documents/couples/$(coupleId)).data.memberUids;
      allow create, update: if request.auth != null &&
        request.auth.uid in firestore.get(/databases/(default)/documents/couples/$(coupleId)).data.memberUids &&
        request.resource.size <= 15 * 1024 * 1024 &&
        (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('audio/.*'));
      allow delete: if request.auth != null &&
        request.auth.uid in firestore.get(/databases/(default)/documents/couples/$(coupleId)).data.memberUids;
    }
  }
}
